:root {
    --first-color: #FF204E; 
    --second-color: #A0153E;
    --thirst-color: #5D0E41;
    --fourth-color: #00224D;

    --vfirst-color: #86ff68; 
    --vsecond-color: #ecd081;
    --vthirst-color: #696348;
    --vfourth-color: #00224D;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}