:root {
    --first-color: #FF204E; 
    --second-color: #A0153E;
    --third-color: #5D0E41;
    --fourth-color: #00224D;
}

html{
  overflow-x: hidden;
}

button {
  border: none;
  padding: 5px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a{
  text-decoration: none !important;
  color: #ccc;
}

.hero {
  background-image: url(/assets/img/bgcraftsmanship1.jpg);
  min-height: 600px;
}


.price {
  text-decoration: line-through;
}

.desconto{
  color: green;
  font-size: 14px;
  font-weight: bold;
}


.product-home-title {
  font-size: 1.2em;
  font-weight: bold;
  max-height: 50px;
  overflow-y: hidden;
}

.product-home-description{
max-height: 80px;
overflow-y: scroll;
}

.product-home-buttons {
display: flex;
align-items: center;
gap: 2px;
}

.overlay-hero{
  background: linear-gradient(var(--fourth-color), #ff204d6e);
  color: antiquewhite;
  width: 50%;
}


  @media screen and (min-width: 1244px) {
    .overlay-hero{
      width: 34%;
    }
  }

  @media screen and (max-width: 902px) {
    .overlay-hero {
      width: 32%;
    }
  }

@media screen and (max-width: 836px) {
  .hero-content{
      flex-direction: column;
  }

  .overlay-hero{
    width: 90%;
  }
}

.overlay-hero img {
  width: 30%;
}

.p-artelize{
  font-size: 1rem
}

@media screen and (max-width: 946px) {
    .p-artelize{
      font-size: 0.8rem;
    }
}



.bg-first-color {
    background-color: var(--first-color);
}

.bg-second-color {
    background-color: var(--second-color);
}

.bg-third-color {
    background-color: var(--third-color);
}

.bg-fourth-color {
    background-color: var(--fourth-color);
}

.first-color{
  color: var(--first-color) !important;
}
.second-color{
  color: var(--second-color) !important;
}
.third-color{
  color: var(--third-color) !important;
}
.fourth-color{
  color: var(--fourth-color) !important;
}

.bg-linear-fourth-second{
  background: linear-gradient(var(--fourth-color), var(--second-color));
}

.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown .dropdown-menu {
  position: absolute;
  z-index: 1000;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-toggler-md{
  display: none;
}

@media screen and (max-width: 605px) {
    .navbar-nav {
      display: none !important;
    }

    .navbar-toggler-md-none{
      display: none;
    }

    .navbar-toggler-md{
      display: block;
    }
}

.dropdown-menu {
  display: none; 
  position: absolute;
  background-color: var(--fourth-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.dropdown-item {
  color: aliceblue; 
  padding: 5px 10px;
}

.dropdown-item:hover {
  background-color: var(--second-color); 
  color: black; 
}


.cart-items {
  max-width: 500px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: 650px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.cart-item-price {
  font-size: 12px;
  color: #666;
}


 
  .bg-header{
    background: linear-gradient(#00224D, #00214d17);
    
  }

  .aside-linear-bg {
    background: linear-gradient(var(--first-color), var(--fourth-color));
  }

  .add-cart-btn {
    background-color: #004aac;
    color: white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    transition: 1s all;
    height: 38px;
  }

  .add-cart-btn:hover {
    background-color: var(--second-color);
    color: black;
    border-radius: 10px;
    padding: 0 10px 0 10px;
  }

  .cart-item-title {
    max-height: 80px;
    overflow-y: hidden;
  }

  .product-cards {
    display: flex;
    justify-content: space-between; /* Distribui os cards com espaço ao redor */
}

.product-card {
  background-color: var(--fourth-color);
  color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 220px; /* Largura de 30% para ter 3 cards por linha */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

@media screen and (max-width: 1100px) {
  .product-card{
    padding: 8px;
  }
}

.product-card-container {
  width: 50%;
}

@media screen and (max-width: 836px) {
    .product-card-container{
      width: 100%;
    }
}

.product-card img {
    max-width: 100%; /* Imagem responsiva */
    height: auto;
}



  .transition-overlay-1{
    background: linear-gradient(#004bac06, var(--fourth-color));
    height: 60px;
  }

  .second-home-section{
    display: flex;
    background: linear-gradient(var(--fourth-color), var(--first-color));
    min-height: 420px;
  }

  @media screen and (max-width: 869px) {
      .second-home-section {
        flex-direction: column;
      }
  }

  .second-home-section-p{
    border-top: 2px solid var(--second-color);
    border-bottom: 2px solid var(--first-color);
    border-left: 0;
    border-right: 0;
    height: fit-content;
  }

  .third-home-section {
      background: linear-gradient(var(--first-color), var(--fourth-color));
      min-height: 540px;
    }


    .fourth-home-section {
      background: linear-gradient(var(--fourth-color), var(--third-color));
      min-height: 540px;
      height: fit-content;
      padding: 20px 0 20px 0;
    }


  .carousel-container {
    position: relative;
    width: 300px;
    margin: 50px auto;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }

.carousel {
  width: 100%;
  height: 300px;
  display: flex;
  transform-style: preserve-3d;
  animation: rotate360 30s infinite linear;
}

.carousel__face {
  position: absolute;
  top: -20px;
  width: 120px;
  background-color: var(--third-color);
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform-origin: center;
  opacity: 0.9;
  transition: transform 0.5s;
}

@media screen and (max-width: 897px) {
    .carousel__face {
      top: 0;
    }
}

  .carousel__face img {
    width: 120px;
    height: 96px;
  }

  .product-carousel-title {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 8px 0;
   
  }

  .product-carousel-buttons {
    display: flex;
    gap: 2px;
  }
  
  
  .product-carousel-preco {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #a9a9a9;
  }

  
  @media screen and (max-width: 910px) {
    .third-home-section-content{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .carousel-container {
      position: relative;
      width: 180px;
      margin: 20px auto;
      perspective: 700px;
    }

    .carousel__face{
      width: 90px;
      transform: rotateY(calc(var(--index) * 72deg)) translateZ(140px) !important;
    }

    .carousel__face img {
      width: 100%;
      height: 56px;
    }

    .second-home-section-p {
      width: 80% !important;
    }

    .product-carousel-title {
      font-size: 0.6rem; /* Diminuir tamanho da fonte do título */
      margin: 4px 0;
  }

  .product-carousel-preco {
      font-size: 0.7rem; /* Diminuir tamanho da fonte do preço */
  }

  .desconto {
      font-size: 0.8rem; /* Diminuir tamanho da fonte do desconto */
  }

  .add-cart-btn {
      font-size: 0.5rem;
      padding: 4px 8px;
  }

  .product-carousel-preco-btn{
    font-size: 10px !important;
  }
  }
  
  @media screen and (max-width: 668px) {
    .carousel__face{
      top: 10px;
    }
  }

  @media screen and (max-width: 506) {
    
  }

  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  


  .hero-about{
    background: linear-gradient(var(--first-color), var(--fourth-color), var(--third-color));
  }

  .newsletter-container {
    height: fit-content;
    padding-top: 20px;
    color: #a9a9a9;
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: linear-gradient(var(--second-color), var(--third-color));
  }

  .newsletter-container input {
    height: 50px;
  }

  @media screen and (max-width: 678px) {
    
  .categorias-card {
      flex-direction: column;
  }
  }


  .categorias-card-btn  {
    width: 80px;
  }